@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-main: #FBFBF9;
    --text-primary: #151C22;
    --text-muted: #5C6773;
    --border-color: #E4E0D7;
  }

  body {
    background-color: var(--bg-main);
    color: var(--text-primary);
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Custom quiet luxury scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #D2CDC3;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B4AEA3;
}
